*{
    margin: 0;
    padding: 0;
}
.logo{ 
    display: flex;
    background-color:black;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
}
.logo img {
    margin-left: 20px;
    width: 10%;
    height: auto;
}
.logo h2 {
    color: white;
  margin-right: auto;
  font-family: sans-serif;
  margin-top: 30px;
 }

 marquee {
    color: turquoise;  
}

body {
    height: 100%;
    font-family: sans-serif;   
}
.logo ul {
    margin-top: 30px;
}
.headlines a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.portfolio {
    align-items: center;
    display: flex;
    gap: 5px; 
}
.portfolio p {
    color: turquoise;
}
   
header nav ul li {
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
}

.head {
    display: flex;
    gap: 50px;
}

.sociallink2 img {
    width: 40px;
    border-radius: 20px;
    border: none;
    gap: 2px;
    background-color: white;
}
.sociallink2 button {
    padding: 10px;
    border-radius: 70%;
    border: none;
    margin-inline: 10px;
    height: auto;
    width: 40px;
    
}

.sociallink2 button a {
    color: black;
  



h2 {
    padding: 20px;
    font-family: sans-serif;
    color: black; 
}
h3 {
    color: rgb(0, 0, 0);
}

header a:hover{
    background-color: gray;
    color: black;
}

/* Slide Section*/

.slide-hold {
    overflow: hidden;
    display: flex;
    position: relative;
}

.slide-img {
    display: flex;
     
}
}

.slide-img img {
    animation: 10s slide infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0)
    }
    25% {
        transform: translateX(0);
    }
    35% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    55% {
        transform: translateX(-200%);
    }
    50% {
        transform: translateX(-100%);
    }
    75% {
        transform: translateX(-200%);
    }
    85% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-300%);
    }
}

@media screen and (max-width: 720px) {
    .slide-hold {
        height: 300px;
       
    }
    .slide-text .text h1 {
        font-size: 25px;
    }
    .slide-text .text p {
        font-size: 13px;
        width: 300px;
        margin-top: 20px;
    }
}

.slide-text {
    background-color: rgba(0, 0, 0, 0.534);
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-text .text p {
    width: 500px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: -27px;
    color: white;
}

.slide-text .text h1 {
    color: turquoise;
    text-transform: uppercase;
    font-size: 55px;
}
.text .text3 {
text-align: left;
}

.explore-btn {
    background-color: transparent;
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 1px solid white;
    border-radius: 4px;
    position: relative;
    margin-top: 20px;
    transition: all .6s;
}

.explore-btn .btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .6s;
}

.explore-btn:hover {
    background-color: white;
    cursor: pointer;
}

.explore-btn .text a {
    color: rgb(0, 200, 255);
    text-decoration: none;
    z-index: 1;
}

.explore-btn:hover .btn {
    width: 100%;
    transition: all .5s;
}

.sociallink ul {
    list-style: none;
    display: inline-block;
    float: right;

}
main .sociallink img {
    width: 30px;
    padding: 5px;
}


main .ifytech {
    text-align: justify;
    padding: 20px;
    line-height: 25px;
    align-content: center;
}
main {
    background-color: white;
    font-size: 15px;
    margin: 20px;
}

main .images {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

.services-hold {
    display: flex;
    justify-content: center;
    color: black;
    
}

.services-hold .hold {
    padding: 20px;
    margin: 10px;
    box-shadow: 4px 4px 5px 4px gainsboro ; 
    transition: all .5s;
    width: 350px;
    justify-content: center;
    
} 

.services-hold .hold:hover {
    transform: scale(0.8);
    cursor: pointer;
    
}
.services-hold h4 {
    text-align: center;
    color: rgb(0, 0, 0);
    color: rgb(233, 181, 83);
}  
.about {
    text-align: justify; 
}

.y {
    box-shadow: 4px 4px 5px 4px gainsboro ; 
    transition: all .5s;
    justify-content: center;
    padding: 30px;
    line-height: 25px;
}
.about2 {
    box-shadow: 4px 4px 5px 4px gainsboro ; 
    transition: all .5s;
    justify-content: center;
    padding: 30px;
    line-height: 25px;
   
}
.about1 {
    text-align: justify;
    line-height: 20px;

}
.mission-image {
    box-shadow: 4px 4px 5px 4px gainsboro; 
    transition: all .5s;
    justify-content: center;
    line-height: 25px;
    text-align: justify;
    padding: 20px;
    
}
.mission-image img{
    padding: 10px;
    margin-right: 20px;
}
.contact1 {
    display: flex; 
    gap: 150px;
    margin: 20px;
}

.contact-form {
    margin-left: 40px;
    display: block;
    box-shadow: 4px 4px 5px 4px gainsboro;
    justify-content: center;
    padding: 20px;
    width: 40%;
}

.sendbotton :hover {
    background-color: black;
    color: white;
}
.contact-form input {
    width: 100%;
    height: auto;
    cursor: pointer;
}

/*footer section*/

footer {
    background-color: black;
    color: rgb(206, 204, 204);
    padding: 20px; 
    text-align: justify; 
    margin: 0; 
}
i.material-icons {
    color: turquoise;   
}
.glyphicon {
    color: turquoise;
   margin-inline: 10px;
}

footer p  {
    text-align: right;
    text-decoration: none;
}

.contact3 {
    display: flex;
    align-content: center;
    text-align: justify;
    gap: 50px;
    
}
    
.sociallink1 ul {
    list-style: none;
    display: inline-flex; 
}
.sociallink1 img {
    width: 35px;
    padding: 5px;
}
.sociallink1 h4 {
    text-align: center;
    color: white;
}
.sociallink1 {
    margin: 20px;
    }
    
.getintouch {
    margin: 20px;
}
.address {
    margin: 20px;
}
.address h4 {
    color: white;
}
.getintouch h4 {
    color: white;
}
.powered {
    display: flex;
    gap: 5%;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 7px;
    font-size: 12px;
}
  
#arrowup {
    position: fixed;
    background-color: rgb(144, 140, 140);
    width: 50px;
    height: 40px;
    margin: 20px;
    top: 80%;
    left: 90%;
    border-radius: 30px;
    border: none;
}
